<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
              http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
              http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd">

       <context:annotation-config></context:annotation-config>

       <context:component-scan base-package="com.hbish.jdbcdemo"/>


       <bean id="dataSource" class="com.zaxxer.hikari.HikariDataSource" >
              <property name="driverClassName" value="org.apache.derby.jdbc.ClientDriver"/>
              <property name="jdbcUrl" value="jdbc:derby://localhost:1527/db" />
       </bean>

       <bean id="nameJdbcDaoImpl" class="com.hbish.jdbcdemo.dao.NamedJdbcDaoImpl">
              <property name="dataSource" ref="dataSource" />
       </bean>

       <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
              <property name="dataSource" ref="dataSource" />
              <property name="packagesToScan" value="com.hbish.jdbcdemo.model" />
              <property name="hibernateProperties">
                     <props>
                            <prop key="dialect">org.hibernate.dialect.DerbyTenSevenDialect</prop>
                     </props>
              </property>
       </bean>

</beans>